@media only screen and (min-width: 375px) {
  .container_img {
    display: flex;
    justify-content: flex-start;
    margin-top: -14px;
    margin-left: -4px;
  }

  .profile_img {
    width: 26vw;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  h2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 6px;
  }

  span.language {
    padding-left: 70px;
    width: 78px;
  }

  .progress {
    width: 130px;
    margin-left: 12px;
  }
}
@media only screen and (min-width: 425px) {
  .container_img {
    margin-top: -24px;
  }

  h2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 6px;
  }

  span.language {
    padding-left: 60px;
    width: 78px;
  }

  progress {
    width: 150px;
    margin-left: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .container_img {
    display: flex;
    justify-content: flex-start;
    margin-top: -14px;
    margin-left: -46px;
  }

  .profile_img {
    width: 18vw;
  }

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3vw;
  }

  .lang_info-box {
    display: flex;
    align-items: center;
  }

  span.language {
    padding-left: 50px;
    width: 78px;
  }

  .progress {
    width: 130px;
    margin-left: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  .container_head {
    position: relative;
    z-index: 1;
  }

  .head-wrapper_r-triangle {
    position: relative;
    height: 262px;
    display: flex;
    background-color: transparent;
    width: 100%;
    justify-content: flex-end;
  }

  .wrapper2 {
    display: block;
    text-align: right;
    margin: auto;
  }

  .head-wrapper_r-triangle::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #62798c;
  }

  #intro {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 26px;
  }

  .wrapper2 {
    position: absolute;
    z-index: 2;
  }

  h2 {
    font-size: 2vw;
  }

  .container_img {
    top: 130px;
    left: 140px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
  }

  .profile_img {
    display: block;
    width: 10vw;
  }

  .triangle_left {
    display: flex;
    background-color: #f2f2aa;
    width: 600px;
    height: 900px;
    clip-path: polygon(0 0, 0 30%, 71% 0);
    position: absolute;
    left: 8px;
    top: 16px;
    margin-left: 10px;
  }

  .l_r_wrap {
    display: flex;
    flex-direction: row;
  }

  #left {
    width: 40em;
    margin-top: 20px;
    background-color: #526170;
  }

  .left-container {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    display: block;
    margin: auto;
    height: auto;
  }

  .flex-container_soc_contact {
    margin-top: 10px;
  }

  .button {
    margin-top: 30px;
  }

  .social {
    margin-top: 30px;
  }

  .lang {
    display: flex;
    align-items: center;
    margin-left: -40px;
  }

  .right-container {
    width: 100%;
    margin-top: -208px;
    padding-left: 12px;
    background-color: #526170;
  }

  .right2-container {
    width: 100%;
    padding-left: 12px;
    background-color: #526170;
  }

  h3 {
    width: 100%;
  }

  .jobexperience {
    display: flex;
    justify-content: flex-start;
    padding-left: 200px;
    padding-top: 84px;
  }

  .school {
    display: flex;
    justify-content: flex-start;
    padding-left: 212px;
  }

  .left_title {
    width: 100%;
    margin-top: 30px;
  }

  div#contactId {
    display: block;
  }

  div#socialId {
    display: block;
  }
}
@media only screen and (min-width: 1399px) {
  .triangle_left {
    clip-path: polygon(0 0, 0 30%, 99% 0);
  }

  h1 {
    font-size: 3vw;
  }

  .right-container {
    margin-top: -210px;
    padding-left: 12px;
  }
}
@media only screen and (min-width: 1580px) {
  .container_img {
    top: 100px;
    left: 160px;
  }

  .triangle_left {
    clip-path: polygon(0 0, 0 30%, 116% 0);
  }
}

/*# sourceMappingURL=media_queries.css.map */
