body {
  background-color: #526170;
  display: flex;
}

.container_img {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.profile_img {
  display: block;
  width: 30vw;
  border-radius: 50%;
}

h1 {
  margin: auto;
  margin-top: 10px;
  display: flex;
  font-family: "Coda Caption", sans-serif;
  color: #0f1b36;
  text-shadow: 1px 2px 2px #735556;
  font-size: 6vw;
  font-weight: 800;
  letter-spacing: 3px;
}

h2 {
  font-family: "Roboto", sans-serif;
  background-color: #c0c0c0;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 4vw;
  text-align: right;
  margin-right: 24px;
}

h3 {
  margin: auto;
  margin-top: 12px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #0f1b36;
  color: #F8F9F9;
  font-size: 20px;
  align-items: center;
  height: auto;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 8px 0px 8px 14px;
}

h4 {
  background-color: #2e4052;
  color: #F8F9F9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin: auto;
  height: auto;
  padding: 8px 14px 8px 14px;
}

h5 {
  background-color: #52687d;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 8px 0px 8px 14px;
  height: auto;
}

.i_size_1 {
  width: 26px;
}

.i_size_2 {
  width: 36px;
}

.i_size_3 {
  width: 38px;
}

.size_soc_icon {
  width: 26px;
}

.wrapper {
  background-color: #526170;
}

.head-wrapper_r-triangle {
  width: 100%;
  justify-content: center;
  margin: auto;
  display: flex;
  height: auto;
  background-color: #62798c;
  margin-bottom: 10px;
}

.wrapper2 {
  display: block;
  text-align: center;
  margin: auto;
}

.left-container {
  align-items: center;
  margin: auto;
  height: auto;
  border-radius: 15px 20px 0px 0px;
  background-color: #526170;
}

.flex-container_soc_contact {
  margin: auto;
  text-align: center;
  display: block;
}

button {
  outline: none;
  background: none;
  text-decoration: none;
  width: 100%;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #0f1b36;
  color: #F8F9F9;
  font-size: 20px;
  align-items: center;
  padding: 0;
  height: 30px;
  justify-content: center;
  text-align: center;
  border-radius: 15px 20px 0px 0px;
}

button:hover {
  opacity: 0.6;
}

.left_title_click {
  margin: auto;
  border-radius: 15px 50px 0px 0px;
  height: 24px;
  background-color: transparent;
  padding: 0%;
}

div#contactId {
  display: none;
}

div#socialId {
  display: none;
}

.contact_title {
  background-color: #607080;
  color: #000000;
}

.con_info {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f2f2aa;
  margin: 0em;
}

.con_info_2 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f2f2aa;
  border-radius: 0px 0px 10px 10px;
}

.s_i {
  margin: auto;
  background-color: #f2f2aa;
  border-radius: 0px 0px 10px 10px;
}

.soc_icon {
  display: inline-flex;
  margin: 8px;
}

.size_soc_icon {
  align-content: center;
  transition: transform 0.2s;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}

.size_soc_icon:hover {
  opacity: 0.5;
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.icon-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #607080;
}
.icon-skill .prog-lang_icons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

.skills_info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #607080;
  padding: 8px 14px 8px 14px;
  margin-bottom: 6px;
  font-size: 14px;
  margin-bottom: 0px;
}

.lang_info-box {
  font-family: "Roboto", sans-serif;
  background-color: #607080;
  padding: 8px 14px 8px 14px;
  display: flex;
  flex-direction: column;
}

span.language {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 60px;
  display: inline-block;
  width: 74px;
}

progress {
  width: 100px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50px 20px;
  margin-left: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: #c6c9cc;
  border: 1px solid black;
  border-radius: 50px 20px;
}

progress[value]::-webkit-progress-value {
  background-color: #0f1b36;
}

.characteristics_info {
  font-family: "Roboto", sans-serif;
  background-color: #607080;
  padding: 8px 14px 8px 14px;
  margin-bottom: 6px;
  font-size: 14px;
  text-align: center;
}

.person_info {
  font-family: "Roboto", sans-serif;
  background-color: #607080;
  padding: 8px 14px 8px 14px;
  margin-bottom: 6px;
  font-size: 14px;
  margin-bottom: 0px;
  text-align: left;
}

.right-container {
  margin: auto;
  display: block;
  height: auto;
}

.right2-container {
  margin: auto;
  display: block;
  height: auto;
}

.job_info {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 14px;
  background-color: #607080;
  padding: 8px 14px 8px 14px;
  margin: 0;
}

.edu_location {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 14px;
  background-color: #607080;
  padding: 8px 14px 8px 14px;
  margin: 0;
}

.footer {
  background-color: #607080;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 14px 2px 14px;
}

/*# sourceMappingURL=style-index.css.map */
