$clr_contact_title: #000000;
$primary_main:#526170;
$bgc_triangle-left: #f2f2aa;
$bgc_triangle-right:#62798c;
$clr_h1-text:#0f1b36;
$clr_h1-text-shadow:#735556;
$bgc_h2: #c0c0c0;
$bgc_h3_title: #0f1b36;
$bcg_h4:#2e4052;
$clr_h4-text:#F8F9F9;
$bgc_h5:#52687d;
$bgc_info:#607080;
$clr_text-title:#F8F9F9;
$bgc_con_si_info: #f2f2aa;

$myfont: 'Roboto Condensed',
sans-serif;
$myfont2: 'Roboto',
sans-serif;
$myfont3: 'Coda',
cursive;
$myfont4: 'Coda Caption',
sans-serif;

$icon_width_1: 26px;
$icon_width_2: 36px;
$icon_width_3: 38px;
$mob_width: 96vw;
$mob_hight: auto;
$mob_b_style: solid;
$mob_b_width_main: medium;
$mob_b_width_heading: thin;
$mt: 10px;
$mr: 10px;
$mb: 6px;