$primary_main: #7e947d;
$mob_width: 96vw;
$mob_hight: auto;
$myfont2: 'Roboto',sans-serif;
$mob_b_width_main:medium;
$mob_b_style: solid;


@media only screen and (min-width: 375px){
    .container_img{
        display: flex;
        justify-content: flex-start;
        margin-top: -20px;
        margin-left: 18px;
    }
    h1{
        display: flex;
        justify-content: flex-end;
        margin-right: 18px;
    }
    h2{
        display: flex;
        justify-content: flex-end;
        margin-right: 18px;
    }

    .language{
        font-family: $myfont2;
        font-size:  16px;
        padding-top: 6px;
        padding-left: 60px;
        display: inline-block;
        width: 74px;
    }
    .progress{
        width: 130px;
        height: 6px;
        border: 1px solid grey;
        border-radius: 15px 50px 20px; 
        margin-left: 12px;
    }
}

@media only screen and (min-width: 425px){
    .container_img{
        // display: flex;
        // justify-content: flex-start;
        margin-top: -24px;
        margin-left: 40px;
    }

    h1{
        display: flex;
        justify-content: flex-end;
        margin-right: 36px;
    }
    h2{
        display: flex;
        justify-content: flex-end;
        margin-right: 38px;
    }
    span.language{
        font-family: $myfont2;
        font-size:  16px;
        padding-top: 6px;
        padding-left: 68px;
        // display: inline-block;
        width: 74px;
        }
        progress {
        width: 150px;
        height: 6px;
        border: 1px solid grey;
        border-radius: 15px 50px 20px; 
        margin-left: 14px;   
    }
}

@media only screen and (min-width: 768px) {
    .s_i{
        background-color: #f2f2aa;
    }
    .lang_info{
    display: flex;
    align-items: center;
    }

    
}


  

@media only screen and (min-width: 1024px) {

    .container_head{
       transform: rotate(20deg);
    } 

    .wrapper2{
        text-align: right; 
    }
    .con_i{
        background-color: #f2f2aa;
    }
    .s_i{
        background-color: #f2f2aa;
        
    }


   

     .main-container{
        // float: right;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        width:50% ;
        justify-content: space-evenly;
        padding-right: 30px;
    }

    .work_title{
        background-color: #2f473e;
     }

//FLOAT LEFT RIGHT NOOIT GEBRUIKEN. ENKEL FLEXBOX

     .left-container {
        //  float: left;
         width: 42%;
         padding-left: 40px;
        align-items: center;
        display: block;
        margin: auto; //margin auto keeps straight lines at both sides as under the first container:
        height: $mob_hight;
        // border-style: $mob_b_style;
        // border-width: $mob_b_width_main;
        background-color:#859c84;
      }


      h3{
          width: 100%;
       
      }

      .left_title {
        width: 100%;
    //     float: left;
    //   }
      .contact {
          width: 40%;
      }

      div#contactId{
        display: block;
        width: 40%;
    //     float: left;
    //   }
      

      div#socialId{
        display: block;
        width: 40%;
    //     float: left;
    //   }


    


}

      

  