$primary_main: #526170;
$mob_width: 96vw;
$mob_hight: auto;
$myfont2: 'Roboto',
sans-serif;
$mob_b_width_main:medium;
$mob_b_style: solid;


@media only screen and (min-width: 375px) {
    .container_img {
        display: flex;
        justify-content: flex-start;
        margin-top: -14px;
        margin-left: -4px;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    h2 {
        display: flex;
        justify-content: flex-end;
        margin-right: 6px;
    }

    span.language {
        padding-left: 70px;
        width: 78px;
    }

    .progress {
        width: 130px;
        margin-left: 12px;
    }
}

@media only screen and (min-width: 425px) {
    .container_img {
        margin-top: -24px;
    }

    h2 {
        display: flex;
        justify-content: flex-end;
        margin-right: 6px;
    }

    span.language {
        padding-left: 80px;
        width: 78px;
    }

    progress {
        width: 150px;
        margin-left: 26px;
    }
}

@media only screen and (min-width: 768px) {

    .container_img {
        display: flex;
        justify-content: flex-start;
        margin-top: -14px;
        margin-left: -46px;
    }
    h1 {
        font-size: 0.5vw;
    }

    h2 {
        font-size: 3vw;
    }

    .lang_info {
        display: flex;
        align-items: center;
    }

    span.language {
        padding-left: 50px;
        width: 78px;
    }

    .progress {
        width: 130px;
        margin-left: 12px;
    }

}

@media only screen and (min-width: 1024px) {

    .container_head {
        position: relative;
        z-index: 1;
       
    }

    .head-wrapper {
        // position: relative;
        height: 260px;
        display: flex;
        background-color: transparent;
        padding-right: 20px;
        width: 98%;
        
    }

    .head-wrapper::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        background-color: #62798c;
        
    }

    .wrapper2 {
        position: absolute;
        z-index: 2;
     }

    h1 {
        font-size: 3vw;
    }

    .container_img {
        top: 22vh;
        left: 12vw;
        display: flex;
        justify-content: flex-start;
        position: absolute;
    }

    .profile_img {
        display: block;
        width: 12vw;
    }

    .triangle_left {
        display: flex;
        background-color: #f2f2aa;
        width: 600px;
        height: 900px;
        clip-path: polygon(0 0, 0 30%, 74% 0);
        position: absolute;
        left: 10px;
        top: 16px;
        margin-left: 10px;
    }

    .l_r_wrap {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
    }

    #left {
        width: 40em;
    }

    .left-container {
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        display: block;
        margin: auto; //margin auto keeps straight lines at both sides as under the first container:
        height: $mob_hight;
    }

    .flex-container_soc_contact {
        margin-top: 30px;
    }

    .button {
        margin-top: 30px;
    }

    .social {
        margin-top: 30px;
    }

    .lang {
        display: flex;
        align-items: center;
        margin-left: -40px;
    }

    .right-container {
        width: 100%;
        margin-top: -196px;
        padding-left: 12px;
        background-color: #526170;
    }

    .right2-container {
        width: 100%;
        padding-left: 12px;
        background-color: #526170;
    }

    h3 {
        width: 100%;
    }

    .jobexperience {
        display: flex;
        justify-content: flex-start;
        padding-left: 200px;
        padding-top: 84px;
    }

    .school {
        display: flex;
        justify-content: flex-start;
        padding-left: 212px;
    }

    .left_title {
        width: 100%;
        margin-top: 30px;
    }

    div#contactId {
        display: block;
    }


    div#socialId {
        display: block;
    }
}

@media only screen and (min-width: 1399px) {

    h1 {
        font-size: 2vw;
    }
}



    





