@media only screen and (min-width: 375px) {
  .container_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -14px;
    margin-left: -4px;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 6px;
  }
  span.language {
    padding-left: 70px;
    width: 78px;
  }
  .progress {
    width: 130px;
    margin-left: 12px;
  }
}

@media only screen and (min-width: 425px) {
  .container_img {
    margin-top: -24px;
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 6px;
  }
  span.language {
    padding-left: 80px;
    width: 78px;
  }
  progress {
    width: 150px;
    margin-left: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .container_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -14px;
    margin-left: -46px;
  }
  h1 {
    font-size: 0.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  .lang_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  span.language {
    padding-left: 50px;
    width: 78px;
  }
  .progress {
    width: 130px;
    margin-left: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .container_head {
    position: relative;
    z-index: 1;
  }
  .head-wrapper {
    position: relative;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    padding-right: 20px;
    width: 99%;
  }
  .head-wrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #62798c;
  }
  .wrapper2 {
    position: absolute;
    z-index: 2;
  }
  h1 {
    font-size: 4vw;
  }
  .container_img {
    top: 22vh;
    left: 12vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
  }
  .profile_img {
    display: block;
    width: 12vw;
  }
  .triangle_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2f2aa;
    width: 600px;
    height: 900px;
    -webkit-clip-path: polygon(0 0, 0 30%, 74% 0);
            clip-path: polygon(0 0, 0 30%, 74% 0);
    position: absolute;
    left: 10px;
    top: 16px;
    margin-left: 10px;
  }
  .l_r_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #left {
    width: 40em;
  }
  .left-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    margin: auto;
    height: auto;
  }
  .flex-container_soc_contact {
    margin-top: 30px;
  }
  .button {
    margin-top: 30px;
  }
  .social {
    margin-top: 30px;
  }
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -40px;
  }
  .right-container {
    width: 98%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -190px;
    padding-left: 12px;
    background-color: #526170;
  }
  .right2-container {
    width: 98%;
    padding-left: 12px;
    background-color: #526170;
  }
  h3 {
    width: 100%;
  }
  .jobexperience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 200px;
    padding-top: 84px;
  }
  .school {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 212px;
  }
  .left_title {
    width: 100%;
    margin-top: 30px;
  }
  div#contactId {
    display: block;
  }
  div#socialId {
    display: block;
  }
}

@media only screen and (min-width: 1399px) {
  h1 {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=media_queries.css.map */