$mob_width: 96vw;
$primary_main: #526170;
// html {
//     background: lightgrey;
//     height: 100%;
//     overflow: hidden;
//   }

html {
    background:$primary_main;
    height: 100%;
    // overflow: hidden;
  }
  body {
    height: 100%;
    background: whitesmoke;
    overflow: scroll;
    // margin: 0 auto;
    padding: 1em;
    // font: 94%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25)
  }
  p {
    margin: 0 0 1.5em;
  }
  
  body::-webkit-scrollbar {
      width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0.5px solid slategrey;
  }