// @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap'); // $fontsizeMob: 10px;
$textcolor: #000000;
$primary_main:#526170;
$bgc_triangle-left: #f2f2aa;
$bgc_triangle-right:#62798c; 
$clr_h1-text:#0f1b36;
$clr_h1-text-shadow:#735556;
$bgc_h2: #c0c0c0;
$bgc_h3_title: #0f1b36;
$bcg_h4:#2e4052;
$clr_h4-text:#F8F9F9; 
$bgc_h5:#52687d;
$bgc_info:#607080;
$clr_text-title:#F8F9F9;
$bgc_con_si_info: #f2f2aa;

$myfont: 'Roboto Condensed',
sans-serif;
$myfont2: 'Roboto',
sans-serif;
$myfont3: 'Coda',
cursive;
$myfont4: 'Coda Caption',
sans-serif;

$icon_width_1: 26px;
$icon_width_2: 36px;
$icon_width_3: 38px;
$mob_width: 96vw;
$mob_hight: auto;
$mob_b_style: solid;
$mob_b_width_main: medium;
$mob_b_width_heading: thin;
$mt: 10px;
$mr: 10px;
$mb: 6px;

body {
  background-color: $primary_main;
  display: flex;
}

.container_img {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  //nesting:
  // p {
  //   Info om naast foto te zetten
  //   order: 1;
  //   text-align: justify;
  //   font-family: $myfont2;
  // }
}

//Picture:
.profile_img {
  display: block;
  width: 30vw;
  border-radius: 50%;
}

// Headings
// h1 = naam:
h1 {
  margin: auto;
  margin-top: $mt;
  display: flex;
  font-family: $myfont4;
  color: $clr_h1-text;
  text-shadow: 1px 2px 2px $clr_h1-text-shadow;
  font-size: 6vw;
  font-weight: 800;
  letter-spacing: 3px;
 
}

// h2 = class shimmer junior web dev:
h2 {
  font-family: $myfont2;
  background-color: $bgc_h2;
  margin-top: $mt;
  margin-bottom: $mb;
  font-size: 4vw;
  text-align: right;
  margin-right: 24px;
}

// h3 zijn hoofdtitels:
h3 {
  margin: auto;
  margin-top: 12px;
  font-family: $myfont;
  background-color: $bgc_h3_title;
  color: $clr_text-title;
  font-size: 20px;
  align-items: center;
  height: auto;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 8px 0px 8px 14px;
}

//h4 = 2nd titles
h4 {
  background-color: $bcg_h4;
  color: $clr_h4-text;
  font-family: $myfont;
  font-size: 16px;
  margin: auto;
  height: auto;
  padding: 8px 14px 8px 14px;
}

//h5= job location/ edu info
h5 {
  background-color: $bgc_h5;
  margin: auto;
  font-family: $myfont;
  font-size: 15px;
  padding: 8px 0px 8px 14px;
  height: auto;
}

// programming Icon sizes:
.i_size_1 {
  width: $icon_width_1;
}

.i_size_2 {
  width: $icon_width_2;
}

.i_size_3 {
  width: $icon_width_3;
}

.size_soc_icon {
  width: $icon_width_1;
}

.wrapper {
  background-color: $primary_main;
}

//head wrapper has section with name jobtitle and img:
.head-wrapper_r-triangle {
  width: 100%;
  justify-content: center;
  margin: auto;
  display: flex;
  height: $mob_hight;
  background-color: $bgc_triangle-right;
  margin-bottom: 10px;
}

//name and job title for shimmer
.wrapper2 {
  display: block;
  text-align: center;
  margin: auto;
}

//left container:
.left-container {
  align-items: center;
  margin: auto; //margin auto keeps straight lines at both sides as under the first container:
  height: $mob_hight;
  border-radius: 15px 20px 0px 0px;
  background-color: $primary_main;
}

//box with contactdetails and social media
.flex-container_soc_contact {
  margin: auto;
  text-align: center;
  display: block;
}

//Two buttons: contactdetails/ social media:
button {
  // override default yellow borders with outline on none:
  outline: none;
  background: none;
  text-decoration: none;
  width: 100%;
  margin: auto;
  font-family: $myfont;
  background-color: $bgc_h3_title;
  color: $clr_text_title;
  font-size: 20px;
  align-items: center;
  padding: 0;
  height: 30px;
  justify-content: center;
  text-align: center;
  border-radius: 15px 20px 0px 0px;
}

button:hover {
  opacity: 0.6;
}

// button titles:
.left_title_click {
  margin: auto;
  border-radius: 15px 50px 0px 0px;
  height: 24px;
  background-color: transparent;
  padding: 0%;
}

//js divs for buttons:
div#contactId {
  display: none;
  width: 100%;
}

div#socialId {
  display: none;
}
.contact_title{
  background-color: $bgc_info;
  color: $textcolor;
}

//contact icons:
.con_info {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: $bgc_con_si_info;
  margin: 0em;
}

.con_info_2 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: $bgc_con_si_info;
  border-radius: 0px 0px 10px 10px;
}

//unordered list social icons:
.s_i {
  margin: auto;
  background-color: $bgc_con_si_info;
  border-radius: 0px 0px 10px 10px;
}


//link:
.soc_icon {
  display: inline-flex;
  margin: 8px;
}

.size_soc_icon {
  align-content: center;
  transition: transform .2s;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}

.size_soc_icon:hover {
  opacity: 0.5;
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

//icons from programming lang:
.icon-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $bgc_info;

  .prog-lang_icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 6px;
    padding-bottom: 4px;
  }
}

//vdh info from left title vaardigheden:
.skills_info {
  background-color: $bgc_info;
  padding: 8px 14px 8px 14px;
  font-family: $myfont2;
  text-align: center;
  font-size: 14px;
}

// from left title talenkennis:
.lang_info {
  font-family: $myfont2;
  background-color: $bgc_info;
  padding: 8px 14px 8px 14px;
  display: flex;
  flex-direction: column;
}

span.language {
  font-family: $myfont2;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 60px;
  display: inline-block;
  width: 74px;
}

//progress bars:
progress {
  width: 100px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50px 20px;
  margin-left: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: #c6c9cc;
  border: 1px solid black;
  border-radius: 50px 20px;
}

progress[value]::-webkit-progress-value {
  background-color: #0f1b36;
}

.characteristics_info {
  background-color: $bgc_info;
  padding: 8px 14px 8px 14px;
  margin-bottom: 6px;
  font-family: $myfont2;
  text-align: center;
  font-size: 14px;
}

.person_info {
  background-color: $bgc_info;
  margin-bottom: 0px;
  padding-bottom: 6px;
  font-family: $myfont2;
  text-align: left;
  font-size: 14px;
  padding: 8px 14px 8px 14px;
}

.right-container {
  margin: auto;
  display: block;
  height: $mob_hight;

}

.right2-container {
  margin: auto;
  display: block;
  height: $mob_hight;

}


.job_info {
  font-family: $myfont2;
  text-align: left;
  font-size: 14px;
  background-color: $bgc_info;
  padding: 8px 14px 8px 14px;
  margin: 0;
}

.edu_location{
    font-family: $myfont2;
    text-align: left;
    font-size: 14px;
    background-color: $bgc_info;
    padding: 8px 14px 8px 14px;
    margin: 0;
}

.footer {
  background-color: $bgc_info;
  font-family: $myfont;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 14px 2px 14px;
}