// @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap'); // $fontsizeMob: 10px;
$textcolor: #191970; //MidnightBlue
// $primary_main: #7e947d;
$primary_main:#526170;
$primary_side: #F5DEB3;
$bgc_h3: #0f1b36;
$bgc_soc: #3d5e61;
$bgc_info:#3d5e61;
$myfont: 'Roboto Condensed',
sans-serif;
$myfont2: 'Roboto',
sans-serif;
$myfont3: 'Coda',
cursive;
$myfont4: 'Coda Caption',
sans-serif;

$icon_width_1: 26px;
$icon_width_2: 36px;
$icon_width_3: 38px;
$mob_width: 96vw;
$mob_hight: auto;
$mob_b_style: solid;
$mob_b_width_main: medium;
$mob_b_width_heading: thin;
$mt: 10px;
$mr: 10px;
$mb: 6px;

body {
  // height: 100vh;
  background-color: $primary_main;
}

.container_img {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  // p {
  //   Info om naast foto te zetten
  //   order: 1;
  //   text-align: justify;
  //   font-family: $myfont2;
  // }
}

//Picture:
.profile_img {
  width: 120px;
  border-radius: 50%;
}

// Headings
// h1 = naam:
h1 {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: $myfont4;
  font-size: 21px;
  font-size: 6vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #735556;
  letter-spacing: 3px;
  margin-top: $mt;
}

// h2 = class shimmer junior web dev:
h2 {
  font-family: $myfont2;
  font-size: 20px;
  text-align: right;
  margin-top: $mt;
  margin-bottom: $mb;
  margin-right: 24px;
}

// h3 zijn hoofdtitels:
h3 {
  margin: auto;
  margin-top: 12px;
  font-family: $myfont;
  background-color: $bgc_h3;
  color: #F8F9F9;
  font-size: 20px;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  height: auto;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
}

//h4 = gsm en emailadres:
h4 {
  background-color: #a1aba1;
  font-family: $myfont;
  font-size: 16px;
  margin: auto;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  height: auto;
}

//h5 proof titels diploma certificaten:
h5 {
  background-color: #52687d;
  margin: auto;
  font-family: $myfont;
  font-size: 15px;
  padding: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: auto;
}
//h6 nog niet gebruikt:
h6 {
  margin: auto;
  font-family: $myfont;
  font-size: 14px;
  padding: 8px;
}

// programming Icon sizes:
.i_size_1 {
  width: $icon_width_1;
}

.i_size_2 {
  width: $icon_width_2;
}

.i_size_3 {
  width: $icon_width_3;
}

.size_soc_icon {
  width: $icon_width_1;
}

.wrapper {
  background-color: #526170;
}

//head wrapper has section with name jobtitle and img:
.head-wrapper {
  justify-content: center;
  margin: auto;
  display: flex;
  height: $mob_hight;
  background-color: #62798c
}

//name and job title for shimmer
.wrapper2 {
  display: block;
  text-align: center;
  margin: auto;
}

//box for left and right flex:
.l_r_wrap {
 
}

//left container:
.left-container {
  align-items: center;
  margin: auto; //margin auto keeps straight lines at both sides as under the first container:
  height: $mob_hight;
  // background-color: #62798c;
}

//box with contactdetails and social media
.flex-container_soc_contact {
  margin: auto;
  text-align: center;
  display: block;
}

//Two buttons: contactdetails/ social media
button {
  // override default yellow borders:
  outline: none;
  background: none;
  text-decoration: none;
  width: 100%;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 10px;
  font-family: $myfont;
  background-color: $bgc_h3;
  color: #F8F9F9;
  font-size: 20px;
  align-items: center;
  padding: 0;
  height: 24px;
  justify-content: center;
  text-align: center;
  border-radius: 15px 20px 0px 0px;
}

.button:hover {
  background-color: #18274a;
}

//button titles
.left_title_click {
  margin: auto;
  border-radius: 15px 50px 0px 0px;
  height: 24px;
  background-color: $bgc_h3;
  padding: 0%;
}

//js divs for buttons:
div#contactId {
  display: none;
  width: 100%;
}

div#socialId {
  display: none;
}

//contact icons:
.con_i {
  margin-bottom: 1px;
  background-color: #f2f2aa;
}

//unordered list social icons:
.s_i {
  margin: auto;
  background-color: #f2f2aa;
}

//link:
.soc_icon {
  display: inline-flex;
  margin: 6px;
}

.size_soc_icon {
  align-content: center;
  transition: transform .2s;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}

.size_soc_icon:hover {
  opacity: 0.5;
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

//icons from programming lang:
.icon-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 6px;
  }
}

//vdh info from left title vaardigheden:
.vdh_info {
  margin-top: $mt;
  margin-bottom: 6px;
  margin-left: 6px;
  font-family: $myfont2;
  text-align: left;
  font-size: 14px;
}

// from left title talenkennis:
.lang_info {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

span.language {
  font-family: $myfont2;
  font-size: 14px;
  padding-left: 46px;
  padding-right: 58px;
  display: inline-block;
  width: 74px;
}

//progress bars:
progress {
  width: 100px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50px 20px;
  margin-left: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: #c6c9cc;
  border: 1px solid black;
  border-radius: 50px 20px;
}

progress[value]::-webkit-progress-value {
  background-color: #0f1b36;
}
//from left title eigenschappen:
.eigenschap_info {
  margin-top: $mt;
  margin-bottom: 6px;
  font-family: $myfont2;
  text-align: center;
  font-size: 14px;
}

//from left title personalia:
.person_info {
  margin-top: $mt;
  margin-bottom: 0px;
  margin-left: 6px;
  padding-bottom: 6px;
  font-family: $myfont2;
  text-align: left;
  font-size: 14px;
}

.right-container {
  margin: auto;
  display: flex;
  display: block;
  height: $mob_hight;
  background-color: #607080;
  
  }

.job_title {
  background-color: #2d4b63;
  color: #F8F9F9;
}

p{
  margin: 0 0 0.0em;
}

.job_info {
  padding-top: $mt;
  padding-bottom: 6px;
  padding-left: 6px;
  font-family: $myfont2;
  text-align: left;
  font-size: 14px;
  background-color: #607080;
  margin: 0;
}

//proof has h5
.proof {
  background-color: #2e4052;
  color: #F8F9F9;
  margin: auto;
  font-family: $myfont;
  font-size: 16px;
  padding: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: auto;
  }

// same as right container 
.school_info {
  // margin-top: $mt;
  // margin-bottom: 6px;

  padding-top: $mt;
  padding-bottom: 6px;

  padding-left: 6px;
  font-family: $myfont2;
  text-align: left;
  font-size: 14px;
  // background-color: #526170;
  background-color: #607080;

}